CLICKHOUSE_CREDENTIALS_JSON=/Users/dataders/Developer/dotfiles_env/.clickhouse/credentials.json
CLICKHOUSE_SQL_CREDENTIALS_JSON=/Users/dataders/Developer/dotfiles_env/credentials/fusion.env.json
CLICKHOUSE_ENDPOINT_ID=a2e6b5b7-f27b-4950-bba5-e1fc0ec7ed0f
CLICKHOUSE_SERVICE_ID=
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8443
CLICKHOUSE_API_KEY=
CLICKHOUSE_API_SECRET=
CLICKHOUSE_KEY_ID=
CLICKHOUSE_KEY_SECRET=
CLICKHOUSE_SERVICE_QUERY_KEY_ID=
CLICKHOUSE_SERVICE_QUERY_KEY_SECRET=
SHADOWTRAFFIC_LICENSE_ENV=/Users/dataders/Developer/dotfiles_env/shadowtraffic/license.env
